@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

$-clr-p-Softred: hsl(7, 99%, 70%);
$-clr-p-Yellow: hsl(51, 100%, 49%);
$-clr-p-Desatcyan: hsl(167, 40%, 24%); /* (graphic design text) */
$-clr-p-Desatblue: hsl(198, 62%, 26%); /* (photography text) */
$-clr-p-Dmoderatecyan: hsl(168, 34%, 41%); /* (footer) */
$-clr-n-VDdesatblue: hsl(212, 27%, 19%);
$-clr-n-VDgrayblue: hsl(213, 9%, 39%);
$-clr-n-Dgrayblue: hsl(232, 10%, 55%);
$-clr-n-Grayblue: hsl(210, 4%, 67%);
$-clr-n-White: hsl(0, 0%, 100%);

html {
  font-family: "Barlow", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
.contact,
.learn-more,
.client__name {
  font-family: "Fraunces", serif;
}

main {
  width: 100%;
}

.grid-container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "landing"
    "egg"
    "brand"
    "egg-holder"
    "audience"
    "design"
    "photography"
    "client"
    "img-grid"
    "footer";
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rel-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing {
  grid-area: landing;

  .bg-img {
    object-position: bottom;
  }

  .landing__info {
    nav {
      position: absolute;
      top: -100%;
      width: 100%;
      height: 5rem;
      outline: 1px dashed black;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: 1.5rem;
      }

      ol {
        li {
          display: none;
        }

        .contact {
          display: none;
        }

        .hamburger {
          display: block;
        }
      }
    }
    div {
      position: absolute;
      top: -70%;
      width: 100%;

      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-bottom: 3rem;
      }
    }
  }
}

.brand {
  grid-area: brand;
}
.audience {
  grid-area: audience;
}

.brand,
.audience {
  background-color: $-clr-n-White;
  padding: 3rem 2rem;
  h2 {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
  }

  &__blurb {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
  }

  .learn-more {
    font-size: 1rem;
    font-weight: 900;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
}

.design {
  grid-area: design;
  color: $-clr-p-Desatcyan;
}
.photography {
  grid-area: photography;
  color: $-clr-p-Desatblue;
}

.design,
.photography {
  &__info {
    h3 {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 900;

      padding: 24.5rem 0 0;
      position: absolute;
      top: -100%;
    }
    p {
      padding: 27.5rem 0 3rem 0;
      position: absolute;
      top: -100%;
    }
  }
}

.client {
  grid-area: client;
  padding: 4rem 1.5rem 5rem 1.5rem;
  h4 {
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__reviews {
    img {
      border-radius: 50%;
      height: 75px;
      margin: 4rem 0 1.75rem 0;
    }

    .review {
      font-size: 1.15rem;
      padding-bottom: 2.5rem;
      line-height: 2rem;  
    }

    .client{
      &__name {
        font-size: 1.15rem;
        padding-bottom: 1rem;
      }
      &__position {
        font-size: 1rem;
        color: $-clr-n-Dgrayblue;
      }
    }
  }

}

.grid-container-imgs {
  grid-area: img-grid;
  display: grid;
  grid-template: repeat(2, 50vw) / repeat(2, 50vw);
  overflow: hidden;
}

.footer {
  grid-area: footer;
  background-color: $-clr-p-Dmoderatecyan;
  padding: 2rem;
  img {
    padding: 1rem 0;
  }

  &__page-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $-clr-p-Desatcyan;
    :hover {
      color: $-clr-n-White
    }
  }

  &__social-links {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    svg {
      width: 20px;
      height: 20px;
      :hover {
        fill: $-clr-n-White
      }
    }
  }
}


.attribution {
  padding: 1rem;
}

@import "./desktop";