@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

#landing-bg-img {
  content: url(../images/mobile/image-header.jpg);
}

#egg-bg-img {
  content: url(../images/mobile/image-transform.jpg);
}

#egg-holder-bg-img {
  content: url(../images/mobile/image-stand-out.jpg);
}

#audience-bg-img {
  content: url(../images/mobile/image-header.jpg);
}

#design-bg-img {
  content: url(../images/mobile/image-graphic-design.jpg);
}

#photography-bg-img {
  content: url(../images/mobile/image-photography.jpg);
}

html {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: hsl(212deg, 27%, 19%);
}

h1,
h2,
h3,
h4,
.contact,
.learn-more,
.client__name {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
}

main {
  width: 100%;
}

.grid-container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "landing" "egg" "brand" "egg-holder" "audience" "design" "photography" "client" "img-grid" "footer";
  overflow: hidden;
}

.bg-img {
  display: block;
  width: 100%;
  height: 100%;
}

.rel-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.landing {
  grid-area: landing;
}
.landing .landing__info nav {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 5rem;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .landing__info nav img {
  height: 1.5rem;
}
.landing .landing__info nav ol li {
  display: none;
}
.landing .landing__info nav ol .contact {
  display: none;
}
.landing .landing__info nav ol .hamburger {
  background: none;
  border: none;
  padding: 0;
}
.landing .landing__info nav ol .hamburger img {
  height: 1rem;
}
.landing .landing__info nav .mobile__nav {
  position: absolute;
  z-index: 1;
  width: 90%;
  top: 7rem;
  right: 5%;
  padding: 1rem;
  background-color: hsl(0deg, 0%, 100%);
}
.landing .landing__info nav .mobile__nav li {
  display: block;
  padding-block: 1.125rem;
  font-size: 1.25rem;
}
.landing .landing__info nav .mobile__nav .contact {
  display: block;
  margin: 1rem auto;
  padding: 1.1rem 2.25rem;
  border: none;
  border-radius: 2rem;
  background-color: hsl(51deg, 100%, 49%);
}
.landing .landing__info nav .mobile__nav .contact:hover {
  cursor: pointer;
}
.landing .landing__info div {
  position: absolute;
  top: -74%;
  width: 100%;
}
.landing .landing__info div h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.3;
  padding-bottom: 3rem;
  color: hsl(0deg, 0%, 100%);
}

.brand {
  grid-area: brand;
}

.audience {
  grid-area: audience;
}

.brand,
.audience {
  background-color: hsl(0deg, 0%, 100%);
  padding: 3rem 1.8rem;
}
.brand h2,
.audience h2 {
  font-size: 2rem;
  line-height: 1.2;
  padding: 1rem 0 1rem 0;
}
.brand__blurb,
.audience__blurb {
  font-size: 1.1rem;
  line-height: 1.77;
  padding: 0.51rem 0 2rem 0;
}
.brand .learn-more,
.audience .learn-more {
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 1.2rem;
  text-transform: uppercase;
}

.design {
  grid-area: design;
  color: hsl(167deg, 40%, 24%);
}

.photography {
  grid-area: photography;
  color: hsl(198deg, 62%, 26%);
}

.design__info h3,
.photography__info h3 {
  width: 100%;
  font-size: 1.75rem;
  font-weight: 900;
  position: absolute;
  top: -32.5%;
}
.design__info p,
.photography__info p {
  font-size: 0.9751rem;
  line-height: 1.77;
  position: absolute;
  top: -23%;
  padding-inline: 1rem;
}

.client {
  grid-area: client;
  padding: 4rem 1.55rem 5.5rem 1.55rem;
}
.client h4 {
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.client__reviews img {
  border-radius: 50%;
  height: 75px;
  margin: 4rem 0 1.75rem 0;
}
.client__reviews .review {
  font-size: 1.1rem;
  padding-block: 0.125rem;
  line-height: 2rem;
}
.client__reviews .client__info .client__name {
  font-size: 1.15rem;
  padding: 2rem 0 1rem 0;
}
.client__reviews .client__info .client__position {
  font-size: 1rem;
  color: hsl(232deg, 10%, 55%);
}

#img-grid1 {
  content: url(../images/mobile/image-gallery-milkbottles.jpg);
}

#img-grid2 {
  content: url(../images/mobile/image-gallery-orange.jpg);
}

#img-grid3 {
  content: url(../images/mobile/image-gallery-cone.jpg);
}

#img-grid4 {
  content: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

.grid-container-imgs {
  grid-area: img-grid;
  display: grid;
  grid-template: repeat(2, 50vw)/repeat(2, 50vw);
}
.grid-container-imgs img {
  width: 100%;
}

.footer {
  grid-area: footer;
  background-color: hsl(168deg, 34%, 41%);
  padding: 2rem;
}
.footer img {
  width: 55%;
  padding-block: 2rem;
  margin-left: -4%;
}
.footer__page-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  color: hsl(167deg, 40%, 24%);
}
.footer__social-links {
  padding: 4.5rem;
  display: flex;
  justify-content: space-between;
}
.footer__social-links svg {
  width: 20px;
  height: 20px;
}
.footer__social-links svg:hover {
  fill: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

.attribution {
  padding: 1rem;
  background-color: hsl(168deg, 34%, 41%);
  color: hsl(0deg, 0%, 100%);
}
.attribution a {
  color: hsl(167deg, 40%, 24%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(51deg, 100%, 49%);
}

@media (min-width: 888px) {
  #landing-bg-img {
    content: url(../images/desktop/image-header.jpg);
    z-index: -1;
  }

  #egg-bg-img {
    content: url(../images/desktop/image-transform.jpg);
  }

  #egg-holder-bg-img {
    content: url(../images/desktop/image-stand-out.jpg);
  }

  #audience-bg-img {
    content: url(../images/desktop/image-header.jpg);
  }

  #design-bg-img {
    content: url(../images/desktop/image-graphic-design.jpg);
  }

  #photography-bg-img {
    content: url(../images/desktop/image-photography.jpg);
  }

  .grid-container-main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "landing landing" "brand egg" "egg-holder audience" "design photography" "client client" "img-grid img-grid" "footer footer";
  }

  .landing {
    grid-column: span 2;
  }
  .landing .landing__info nav {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 5rem;
    padding: 4rem 3rem 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .landing .landing__info nav img {
    height: 2rem;
  }
  .landing .landing__info nav ol {
    display: flex;
    align-items: center;
  }
  .landing .landing__info nav ol li {
    display: inline;
    padding-inline: 1.75rem;
    color: hsl(0deg, 0%, 100%);
  }
  .landing .landing__info nav ol li:hover {
    cursor: pointer;
  }
  .landing .landing__info nav ol .contact {
    display: block;
    padding: 1.1rem 2.25rem;
    border: none;
    border-radius: 2rem;
    margin-left: 1.35rem;
  }
  .landing .landing__info nav ol .contact:hover {
    cursor: pointer;
  }
  .landing .landing__info nav ol .hamburger {
    display: none;
  }
  .landing .landing__info div {
    top: -75.75%;
    width: 100%;
  }
  .landing .landing__info div h1 {
    font-size: 3.5rem;
    letter-spacing: 9px;
    padding-bottom: 5.55rem;
  }

  .learn-more {
    position: relative;
  }
  .learn-more:hover:before {
    position: absolute;
    content: "";
    height: 10px;
    bottom: 20px;
    left: 0;
    width: 8.25em;
    border-radius: 2.5px;
  }
  .learn-more:hover:after {
    position: absolute;
    content: "Learn More";
    top: 100;
    left: 0.5rem;
  }

  .brand {
    padding: 2rem 15% 2rem 23%;
  }
  .brand .learn-more:hover::before {
    background: hsl(51deg, 100%, 49%);
  }

  .audience {
    padding: 2rem 23% 2rem 15%;
  }
  .audience .learn-more:hover::before {
    background: hsl(7deg, 99%, 70%);
  }

  .brand,
.audience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 1;
  }
  .brand h2,
.audience h2 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-block: 1.25rem;
  }
  .brand__blurb,
.audience__blurb {
    padding-block: 1rem;
    line-height: 1.65;
  }
  .brand .learn-more,
.audience .learn-more {
    padding-block: 1.5rem;
    padding-inline: 0.5rem;
  }

  .design__info h3,
.photography__info h3 {
    top: min(-33.25%, -12rem);
  }
  .design__info p,
.photography__info p {
    padding-inline: 26%;
    top: min(-23.5%, -8.5rem);
  }

  .client {
    padding-block: 10rem;
    padding-inline: 11.75%;
  }
  .client h4 {
    font-size: 1.35rem;
  }
  .client__reviews {
    display: flex;
    justify-content: space-between;
  }
  .client__reviews .client__review {
    max-width: 31%;
  }
  .client__reviews img {
    height: 73px;
    margin: 5rem 0 3.5rem 0;
  }
  .client__reviews .review {
    font-size: 1.1rem;
    padding-block: 0.125rem;
    line-height: 2rem;
  }
  .client__reviews .client__info {
    margin-left: -20px;
  }
  .client__reviews .client__info .client__name {
    padding: 4.5rem 0 1rem 0;
  }
  .client__reviews .client__info .client__position {
    font-size: 0.85rem;
  }

  #img-grid1 {
    content: url(../images/desktop/image-gallery-milkbottles.jpg);
  }

  #img-grid2 {
    content: url(../images/desktop/image-gallery-orange.jpg);
  }

  #img-grid3 {
    content: url(../images/desktop/image-gallery-cone.jpg);
  }

  #img-grid4 {
    content: url(../images/desktop/image-gallery-sugarcubes.jpg);
  }

  .grid-container-imgs {
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: auto;
  }

  .footer img {
    width: 13%;
    padding-block: 2.5rem;
    margin-left: -10px;
  }
  .footer__page-links {
    justify-content: center;
    padding: 0rem 0.5rem;
  }
  .footer__page-link {
    padding-inline: 2rem;
  }
  .footer__page-link:hover {
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
  }
  .footer__social-links {
    padding-block: 4.75rem 0rem;
    justify-content: center;
  }
  .footer__social-links svg {
    margin: 0.9rem;
  }
  .footer__social-links svg :hover {
    fill: hsl(0deg, 0%, 100%);
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */